<h1 class="display-4 text-center">Transactions</h1>

<div class="d-flex justify-content-center flex-wrap mt-4">
    <a href="AddTransaction" class="btn btn-primary m-3">Add Transaction</a>
    <a href="UpdateTransaction" class="btn btn-warning m-3">Change Transaction</a>
    <a href="RemoveTransaction" class="btn btn-danger m-3">Remove Transaction</a>
</div>

<h2 class="display-6 mt-3 mb-3">Expenses</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Category</th>
            <th scope="col">Date</th>
            <th scope="col">Note</th>
        </tr>
        <tr>
            <td scope="row">Salary</td>
            <td>60lv.</td>
            <td>Games</td>
            <td>20.03.2024</td>
            <td>Assassin's Creed Mirage</td>
        </tr>
   </thead>
</table>

<h2 class="display-6 mt-5 mb-3">Incomes</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Category</th>
            <th scope="col">Date</th>
            <th scope="col">Note</th>
        </tr>
        <tr>
            <td scope="row">Salary</td>
            <td>2000lv.</td>
            <td>Incomes, Work</td>
            <td>10.04.2024</td>
            <td>Salary for 20 work days</td>
        </tr>
   </thead>
</table>

<h2 class="display-6 mt-5 mb-3">All transactions</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Category</th>
            <th scope="col">Date</th>
            <th scope="col">Note</th>
        </tr>
        <tr>
            <td scope="row">Salary</td>
            <td>2000lv.</td>
            <td>Incomes, Work</td>
            <td>10.04.2024</td>
            <td>Salary for 20 work days</td>
        </tr>
        <tr>
            <td scope="row">Game</td>
            <td>60lv.</td>
            <td>Games</td>
            <td>20.03.2024</td>
            <td>Assassin's Creed Mirage</td>
        </tr>
   </thead>
</table>
