@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-center">My Accountant</h1>
    
    <h2 class="display-6 mt-5 mb-3">Recent Transactions</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Category</th>
                <th scope="col">Note</th>
            </tr>
            <tr>
                <td scope="row">Salary</td>
                <td>2000lv.</td>
                <td>Incomes, Work</td>
                <td>Salary for 20 work days</td>
            </tr>
            <tr>
                <td scope="row">Game</td>
                <td>60lv.</td>
                <td>Games</td>
                <td>Assassin's Creed Mirage</td>
            </tr>
       </thead>
    </table>

    <a href="Transactions" type="button" class="btn btn-primary float-end">Go To Transactions</a>

    <h2 class="display-6 mt-5 mb-3">Savings Account</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Act</th>
                <th scope="col">Date of act</th>
                <th scope="col">Amount</th>
            </tr>
            <tr>
                <td scope="row">Withdraw</td>
                <td>25.05.2024</td>
                <td>360lv.</td>
            </tr>
            <tr>
                <td scope="row">Deposit</td>
                <td>10.05.2024</td>
                <td>600lv.</td>
            </tr>
            <tr>
                <td scope="row">Withdraw</td>
                <td>01.05.2024</td>
                <td>34lv.</td>
            </tr>
       </thead>
    </table>

    <a href="Savings" type="button" class="btn btn-primary float-end">Go To Savings Account</a>
</div>

